<div id="reportlist">
  <h1>巡检结果</h1>
	<table class="reportlist">
	<thead>
      <tr>
		<th>系统</th>
		<th>省份</th>
		<th>城市</th>
		<th>检测功能点总数</th>
		<th>通过检测的功能点数目</th>
		<th>通过率</th>
		<th>报告时间</th>
		<th>报告提交人员</th>
		<th>详细报告</th>
	  </tr>
	</thead>  
	<tbody>
	  {% for report in reports %}
	  {% if report.total_num == report.pass_num %}
	  <tr class="good">
      {% else %}
	  <tr class="bad">
      {% endif %}	
		<td>{{report.system}}</td>
		<td>{{report.province}}</td>
		<td>{{report.city}}</td>
		<td>{{report.total_num}}</td>
		<td>{{report.pass_num}}</td>
		<td>{% widthratio report.pass_num report.total_num 100 %}%</td>
		<td>{{report.sub_time|date:"Y-m-d H:i:s"}}</td>
		<td>{{report.reporter}}</td>     
		<td>
		<a href= {{report.report_file.url}}>查看报告</a>
		</td>
	  </tr>
	  {% endfor %}
	</tbody>
    </table>
  <div class="pagination">
    <span class="step-links">
        {% if reports.has_previous %}
		    <button type="button" id= "pre" title={{ reports.previous_page_number }}>前一页</button>
        {% endif %}
        <span class="current">
            Page {{ reports.number }} of {{ reports.paginator.num_pages }}.
        </span>

        {% if reports.has_next %}
		    <button type="button" id= "next" title={{ reports.next_page_number }}>后一页</button>
        {% endif %}
    </span>
  </div>
</div>
