<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <body>
  <title>应用巡检自动化系统</title>
  <h1>提交报告</h1>
	  <form enctype="multipart/form-data" method="POST" action="/uploadreport/">
	   <label>测试系统</label>
	   <label>巡检功能数目</label>
	   <input type="number" name="testNum">
	   <br />
	   <label>功能正常的数目</label>
	   <input type="number" name="passNum">	   
	   <br />
	   <label>报告提交人员</label>
	   <input type="text" name="reporter">
	   <br /> 
	   <input type="file" name="file" />
	   <br /> 
	   <input type="submit" value="提交报告" /> 
	  </form>
  </body>
</html>
