/* reportlistS */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#reportlist {
    width:1200px;
	margin: 10px 15px;
	border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 2px 8px 3px;
    text-align: left;
	min-height: 200px;
}

#adiv{
   width: 1200px;
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #fff;
   border-right: 1px solid #ddd;
   padding: 2px 8px 3px;
   text-align: left;
   overflow: auto;
}

#condition{
   border-bottom: 1px solid #ddd;
   border-top: 1px solid #fff;
   border-right: 1px solid #ddd;
   padding: 2px 8px 3px;
   text-align: left;
   float: left;
   width: 1000px
}

#operation{
   margin-left:1000px;
   text-align: center;
}

#header{
    background: #417690 none repeat scroll 0 0;
    overflow: hidden;
    width: 100%;
}

#headerTxt{
  font-size:1.5em;
  color: #ffc;
}
#q{
  background: orange;
  color:white;
  width: 100px;
}


table.reportlist{
    width: 90%;
}

table, th, tr, td{
   border: 1px solid gray;
   text-align:center;
}

tr.good{
  background:  rgb(153, 255, 102);
}

tr.bad{
  background: rgb(254, 67, 101);
}

div.pagination{
  text-align:center;
}

#today{
   font-size:1.5em
}

#all{
   font-size:1.5em
}